<div ng-controller="MongoController">
  <div class-"section" id="section0">
    <div class="eighty">
      <h1>R:Mongo</h1>
    </div>
      <div class="fifty">
        <h3>This page uses MongoDB, MongoLab, and Mongoose.<a href="/"><sup>RCPT</sup></a><a href="#/intro"><sub>About</sub></a></h3>
      </div>
    <div id='search'>
      <input id='searchInput' auto-complete ui-items="names" placeholder="enter item here" ng-model="search.type" ng-submit="gotoBottom()">
    </div>
    <div ng-repeat="link in data | filter:search:true" id="bottom">
      <div ng-show="{{link}}">
        <div ng-class="{'random' : {{link.receptacle === 'wildcard'}},
                        'blue' : {{link.receptacle === 'blue bin'}},
                        'green' : {{link.receptacle === 'green bin'}},
                        'pink' : {{link.receptacle === 'trash can'}},
                        'bulb' : {{link.receptacle === 'bulb'}} ,
                        'cardboard' : {{link.receptacle === 'cardboard'}} }">
          <div class="wasteColor" ng-class="{'nextsteps' : {{link.receptacle === 'wildcard'}},
                                            'recycle' : {{link.receptacle === 'blue bin'}},
                                            'compost' : {{link.receptacle === 'green bin'}},
                                            'trash' : {{link.receptacle === 'trash can'}} }">
          </div>
        </div>
      </div>
  </div>
</div>
