<div ng-init="data = [{type: 'cans', receptacle: 'blue bin'},
                      {type: 'can', receptacle: 'blue bin'},
                      {type: 'aluminum', receptacle: 'blue bin'},
                      {type: 'glass', receptacle: 'blue bin'},
                      {type: 'bottle', receptacle: 'blue bin'},
                      {type: 'foil', receptacle: 'blue bin'},
                      {type: 'paper', receptacle: 'blue bin'},
                      {type: 'magazine', receptacle: 'blue bin'},
                      {type: 'food', receptacle: 'green bin'},
                      {type: 'newspaper', receptacle: 'blue bin'},
                      {type: 'carrots', receptacle: 'green bin'},
                      {type: 'styrafoam', receptacle: 'trash'}]">
</div>
<!-- <div id='search' ng-controller='SearchController'> -->
<div id='search'>
  <input class="ng-touched" placeholder="enter item here" ng-model="search.type">
</div>
<!-- </div> -->
<table>
  <tr class='link' ng-hide="$(#search).hasClass('ng-untouched')"  ng-repeat="link in data | filter:search:true">
    <!--<td>{{link.type}}</td>-->
    <td>{{link.receptacle}}</td>
  </tr>
</table>
<!--   <div class='navigation'>

    <ul>
      <li><a href='#/links' class='index'>All Links</a></li>
      <li><a href='#/shorten' class='create'>Shorten</a></li>
    </ul>
      </div>

       ng-class-odd="'odd'" ng-class-even="'even'"
<table id='list' ng-hide="$(#search).hasClass('ng-untouched')">
       -->