<div id='search' ng-controller='SearchController'>
  <div><input placeholder="search" ng-model="search"></div>
</div>
<!--ng-repeat="link in data.links | filter:orderBy:visits | filter:search" //from search
          <img src='/redirect_icon.png'/>
          <div class='info'>
          <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
          <div class='title'>{{link.title}}</div>
          <div class='original'>{{link.url}}</div>
          <a href='{{link.base_url}}/api/links/{{link.code}}'>{{link.base_url}}/api/links/{{link.code}}</a> -->

<!--     <div id='container'>
      <ul class='link' >
        <li ng-class-odd="'odd'" ng-class-even="'even'">
        </li>
      </ul>
    </div> -->



<!--   <div class='navigation'>

    <ul>
      <li><a href='#/links' class='index'>All Links</a></li>
      <li><a href='#/shorten' class='create'>Shorten</a></li>
    </ul>
      </div> -->